
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="post" id="post_<%= @post.id %>">
      <div class="userProfle">
        <div class="userAvatar"></div>
        <div class="userName"></div>
      </div>
      <div class="postContent">
        <h1><%= @post.title %></h1>
        <p><%= @post.body%></p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <div class="tags">
      <% @post.tags.each do |tag| %>
        <div id="tag_<%= tag.id %>"><%= button_to tag.name, tag_path(tag), method: :get, class: "btn" %></div>
      <% end %>
    </div>
  </div>
  <div class="col-md-2">
    <div id="likeBox">
      <div id="likeCount"><%= @post.likes.count %></div>
      <% unless current_user.likes.map(&:post_id).include? @post.id %>
        <div class="like">
      <% else %>
        <div class="unlike">
      <% end %>
          <div id="clickLike"><%= image_tag('like_icon_alt.png', alt: "Like", class: 'likeBtnImg', id: @post.id) %></div>
          <div id="clickUnlike"><%= image_tag('liked_icon_alt.png', alt: "Unlike", class: 'likeBtnImg', id: @post.id) %></div>
        </div>
      <% unless current_user.likes.map(&:post_id).include? @post.id %>
        <div id="addLike"></div>
      <% else %>
        <div id="addLike">+1</div>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-2"><% if current_user.posts.include? @post %><%= button_to "Edit post", edit_post_path(@post), method: :get, class: 'btn' %><% end %></div>
  <div class="col-md-2"><% if current_user.posts.include? @post %><%= button_to "Delete post", post_path(@post), method: :delete, class: 'btn' %><% end %></div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="comments">
      <% unless @post.comments.empty? %>

        <% @post_comments.each do |comment| %>
          <% unless comment.user.nil? %>
            <div class="commentContainer" id="commentContainer_<%= comment.id %>">

              <%# Comment's user details (display on left) %>
              <div class="userProfile">
                <%= image_tag(comment.user.avatar.icon.url, class: 'userAvatar') unless comment.user.avatar.nil? %>
                <p class="userName"><%= comment.user.email %></p>
              </div>

              <%# Comment text/body %>
              <div class="commentText notEditing">
                <div class="commentBody">
                  <p id="commentBody_<%= comment.id %>"><%= comment.body.html_safe %></p>
                </div>

                <%# Hidden form for updating comment %>
                <div class="commentForm">
                   <%= form_for [@post, comment], remote: true, method: :patch do |f| %>
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <%= f.text_area :body, id: "edit_comment_body" %>
                    <%= f.submit "Update", class: 'submitButton', id: comment.id %>
                <% end %>
                </div>

              </div>

              <%# Button to update comment%>
              <% if comment.user == current_user %>
                <%# TODO: Fix these buttons so we use Ruby %>
                  <button class="editBtn btn", id="editBtn_<%= comment.id %>" >Edit Comment</button>
                  <%# <%= button_tag "Edit Comment", class: "editBtn", id: "editBtn_<%= comment.id %1>" %1> %>
                  <%= button_to "Delete Comment", post_comment_path(@post, comment), {remote: true, method: :delete, class: "delBtn btn", "x-id": comment.id } %>
              <% end %>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Post a new comment</h2>
    <div class="newComment">
    <%= form_for [@post, @comment], remote: true do |f| %>
      <%= f.text_area :body %><br>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.submit "Comment", class:"submitCommentButton btn" %>
    <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<br>
<%# <div class="row"> %>
  <%#   <div class="col-md-2"></div> %>
  <%#   <div class="col-md-8"> %>
    <%#     <h1>Nested Attributes Comments</h1> %>
    <%#     <%= form_for @post, remote: true do |f| %1> %>
    <%#       <%= f.fields_for :comments do |builder| %1> %>
    <%#         <%= render 'comment', f: builder %1><br> %>
    <%#       <% end %1> %>
  <%#       <%= f.submit %1><br><br> %>
  <%#     <% end %1> %>
<%#   </div> %>
<%#   <div class="col-md-2"></div> %>
<%# </div> %>


<script>

var csrf = $("meta[name=csrf-token]").attr("content");
var woof;
$(function () {
  var form = $("#new_comment");
  form.on("keydown", function (e) {
    if (e.keyCode == 13) {
      $(".submitButton")[1].click();
    }
  });
  form.on("ajax:success", function (e, data) {
    console.log(data);
    // Comment Container
    var commentContainer = document.createElement("div");
    commentContainer.className = "commentContainer";
    commentContainer.setAttribute("id", "commentContainer_" + data.comment.id);
    // Avatar Img 
    var userAvatar = document.createElement("img");
    userAvatar.setAttribute("src", data.user.avatar.icon.url);
    // Username
    var userName = document.createElement("p")
    userName.innerHTML = data.user.email
    // userProfile container
    var userProfile = document.createElement("div");
    userProfile.className = "userProfile";
    userProfile.appendChild(userAvatar)
    userProfile.appendChild(userName);
    commentContainer.appendChild(userProfile);

    var commentBody = document.createElement("p")
    commentBody.setAttribute("id", "commentBody_" + data.comment.id);
    commentBody.innerHTML = data.comment.body;

    var commentText = document.createElement("div");
    commentText.className = "commentText notEditing";

    commentText.appendChild(commentBody);
    commentContainer.appendChild(commentText);
    $("#comments").append(commentContainer);

    <%# TODO: Write recursive algorithm that clones the element and changes the id and content based on new information %>
    <%# TODO: Using JQuery $("commentContainer").clone(); %>
  });


  form = $(".edit_comment");
  form.on("keydown", function (e) {
    subBtn = $(e.currentTarget).parent().parent().find('.submitButton')[0];
    formId = e.currentTarget.id.toString().substring(13, 999);
    if (e.keyCode == 13) {
      subBtn.click();
      $("#editBtn_" + formId).fadeIn();
      $("#editBtn_" + formId).click();
    }
  });
  form.on("ajax:success", function (e, data, status, xhr) {
    $("#commentBody_" + data.id).replaceWith(data.body)
  });

  $(".editBtn").on("click", function () {
    var Id = this.id.toString().substring(17, 999);
    var commentText = $(this).parent().find(".commentText");
    if (commentText.hasClass("notEditing")) {
      commentText.addClass("editing").removeClass("notEditing");
      $(this).fadeOut();
    } else {
      commentText.addClass("notEditing").removeClass("editing");
    }
  });

  $(".delBtn").on("click", function () {
    var commentId = $(this).attr("x-id");
    comment = $(this);
  }).parent().on("ajax:success", function (e, data, status, xhr) {
    comment.parent().parent().remove();
  })

  $(".likeBtnImg").on("click", function () {
    var data = {post_id: this.id};
    $.ajax({
      type: 'POST',
      url: '/likes',
      authenticity_token: csrf,
      data: data
    }).done(function (response) {
      var likeBox = $(".likeBtnImg").parent().parent();
      var clickLike = $("#clickLike");
      var addLike = $("#addLike");
      var likeCount = $('#likeCount')
      if (likeBox.hasClass("like")) {
        likeBox.addClass("unlike").removeClass("like");
        $(clickLike).css("display", "none");
        addLike.fadeIn().css("display","inline-block");;
        likeCount.text((parseInt(likeCount.text()) + 1).toString())
      } else {
        likeBox.addClass("like").removeClass("unlike");
        $(clickLike).css("display", "inline-block");
        addLike.fadeOut();
        likeCount.text((parseInt(likeCount.text()) - 1).toString())
      }
    });
  });

  $(".likeBtn").on("click", function () {
  }).parent().on("ajax:success", function (e, data, status, xhr) {
  });
})



</script>

