<style>
.submitButton {
  <%# display: none; %>
}
.commentForm {
  display: none;
}
.postLinks {
  display: inline-block;
  float: right;
}
.button {
  margin-top: 1em;
  margin-right: 1em;
  display: inline-block;
}
textarea {
  vertical-align: top;
  margin-left: 1em;
  margin-bottom: 1em;
  display: inline-block;
  width: 75%;
  height: 100px;
}
#comments {
  margin-top: 2em;
}
.submitButton {
  float: right;
}
.commentContainer {
  display: inline-block;
    width: 100%;
}
.commentBody {
  vertical-align: top;
  margin-left: 1em;
  display: inline-block;
  width: 75%;
  background-color: white;
  margin-bottom: 1em;
}
.userProfile {
  margin-right: 1em;
  width: 15%;
  display: inline-block;
}
.editBtn {
  float: right;
    margin-bottom: 1em;
}
</style>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="post" id="post_<%= @post.id %>">
      <div class="userProfle">
        <div class="userAvatar"></div>
        <div class="userName"></div>
      </div>
      <div class="postContent">
        <h1><%= @post.title %></h1>
        <p><%= @post.body%></p>
      </div>
    </div>
    <div class="postLinks">
      <div class="button"><%= button_to "Edit post", edit_post_path(@post), method: :get %></div>
      <div class="button"><%= button_to "Delete post", post_path(@post), method: :delete %></div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="comments">
      <% unless @post.comments.empty? %>

        <% @post.comments.each do |comment| %>
          <% unless comment.user.nil? %>
            <div class="commentContainer" id="commentContainer_<%= comment.id %>">

              <%# Comment's user details (display on left) %>
              <div class="userProfile">
                <div class="userAvatar"><%#= image_tag(comment.user.avatar.icon.url) %></div>
                <div class="userName"><p><%= comment.user.email %></p></div>
              </div>

              <%# Comment text/body %>
              <div class="commentBody" id="commentBody_<%= comment.id %>">
                <p><%= comment.body %></p>
              </div>

              <%# Hidden form for updating comment %>
              <div class="commentForm" id="newComment_<%= comment.id %>">
                <div class="textArea">
                <%= form_for [@post, comment], remote: true, method: :patch do |f| %>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <%= f.text_area :body, id: "edit_comment_body" %>
                </div>
                <div class="submit">
                  <%= f.submit "Update", class: 'submitButton' %>
                </div>
                <% end %>
              </div>

              <%# Button to update comment%>
              <div id="edit_comment_button">
                <%= button_tag "Edit Comment", class: "editBtn" %>
              </div>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
  <h2>Post a new comment</h2>
    <%= form_for [@post, @comment], remote: true do |f| %>
      <%= f.text_area :body %><br>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.submit "Comment", class:"submitButton" %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>
<%# <div class="row"> %>
<%#   <div class="col-md-2"></div> %>
<%#   <div class="col-md-8"> %>
<%#     <h1>Nested Attributes Comments</h1> %>
<%#     <%= form_for @post, remote: true do |f| %1> %>
<%#       <%= f.fields_for :comments do |builder| %1> %>
<%#         <%= render 'comment', f: builder %1><br> %>
<%#       <% end %1> %>
<%#       <%= f.submit %1><br><br> %>
<%#     <% end %1> %>
<%#   </div> %>
<%#   <div class="col-md-2"></div> %>
<%# </div> %>


<script>
$(function () {
  var form = $("#new_comment");
  form.on("keydown", function (e) {
    console.log(e.keyCode);
    if (e.keyCode == 13) {
      $(".submitButton")[1].click();
    }
  });
  form.on("ajax:success", function (e, data) {
    console.log(e, data);
    var commentDiv = document.createElement("div");
    commentDiv.className = "commentContainer";

    commentDiv.innerHTML = '<p>' + data.body + '</p><p>' + data.user.email + '</p>' ;
    $("#comments").append(commentDiv);
  });
})
$(function () {
  var form = $(".edit_comment");
  form.on("keydown", function (e) {
    if (e.keyCode == 13) {
      $(".submitButton")[0].click();
    }
  });
  form.on("ajax:success", function (e, data, status, xhr) {
    $("#commentBody_" + data.id).children().replaceWith("<p>" + data.body + "</p>")
  });
})

$(function () {
  $(".editBtn").on("click", function () {
    var form = $(this).parent().prev().prev();
    var body = $(this).parent().prev();
    form.toggle();
    body.toggle();
    if ($(form).is(':visible')) {
      $(form).css('display','inline-block');
    }
  })
});

</script>

