<style>
.postLinks {
  display: inline-block;
}
.likeBtnImg {
  cursor: pointer;
}
.btn {
  float: right;
  margin-right: 1em;
}
#liked {
  display: none;
}
#addLike {
  display: none;
}
#likeBox {
  display: inline-block;
} 
</style>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="post" id="post_<%= @post.id %>">
      <div class="userProfle">
        <div class="userAvatar"></div>
        <div class="userName"></div>
      </div>
      <div class="postContent">
        <h1><%= @post.title %></h1>
        <p><%= @post.body%></p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-2">
    <div id="likeBox">
      <div id="likeCount"><%= @post.likes.count %></div>
      <div class="like">
        <div id="clickLike"><%= image_tag('like_icon_alt.png', class: 'likeBtnImg', id: @post.id) %></div>
        <div id="clickUnlike"><%= image_tag('liked_icon_alt.png', class: 'likeBtnImg', id: @post.id) %></div>
      </div>
      <div id="addLike">+1</div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2"><% if current_user.posts.include? @post %><%= button_to "Edit post", edit_post_path(@post), method: :get, class: 'btn' %><% end %></div>
  <div class="col-md-2"><% if current_user.posts.include? @post %><%= button_to "Delete post", post_path(@post), method: :delete, class: 'btn' %><% end %></div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div id="comments">
      <% unless @post.comments.empty? %>

        <% @post.comments.each do |comment| %>
          <% unless comment.user.nil? %>
            <div class="commentContainer" id="commentContainer_<%= comment.id %>">

              <%# Comment's user details (display on left) %>
              <div class="userProfile">
                <div class="userAvatar"><%= image_tag(comment.user.avatar.icon.url) unless comment.user.avatar.nil? %></div>
                <div class="userName"><p><%= comment.user.email %></p></div>
              </div>

              <%# Comment text/body %>
              <div class="commentText notEditing">
                <div class="commentBody" id="commentBody_<%= comment.id %>">
                  <p><%= comment.body.html_safe %></p>
                </div>

                <%# Hidden form for updating comment %>
                <div class="commentForm" id="newComment_<%= comment.id %>">
                  <div class="textArea">
                    <%= form_for [@post, comment], remote: true, method: :patch do |f| %>
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <%= f.text_area :body, id: "edit_comment_body" %>
                  </div>
                  <div class="submit">
                    <%= f.submit "Update", class: 'submitButton', id: comment.id %>
                  </div>
                <% end %>
                </div>

              </div>

              <%# Button to update comment%>
              <% if comment.user == current_user %>
                <div id="edit_comment_button">
                  <button class="editBtn btn", id="editBtn_<%= comment.id %>" >Edit Comment</button>
                  <%# <%= button_tag "Edit Comment", class: "editBtn", id: "editBtn_<%= comment.id %1>" %1> %>
                </div>
                <div id="delete_comment_button">
                  <%= button_to "Delete Comment", post_comment_path(@post, comment), {remote: true, method: :delete, class: "delBtn btn", "x-id": comment.id } %>
                </div>
              <% end %>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<br>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h2>Post a new comment</h2>
    <%= form_for [@post, @comment], remote: true do |f| %>
      <%= f.text_area :body %><br>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.submit "Comment", class:"submitCommentButton btn" %>
    <% end %>
  </div>
  <div class="col-md-2"></div>
</div>

<%# <div class="row"> %>
  <%#   <div class="col-md-2"></div> %>
  <%#   <div class="col-md-8"> %>
    <%#     <h1>Nested Attributes Comments</h1> %>
    <%#     <%= form_for @post, remote: true do |f| %1> %>
    <%#       <%= f.fields_for :comments do |builder| %1> %>
    <%#         <%= render 'comment', f: builder %1><br> %>
    <%#       <% end %1> %>
  <%#       <%= f.submit %1><br><br> %>
  <%#     <% end %1> %>
<%#   </div> %>
<%#   <div class="col-md-2"></div> %>
<%# </div> %>


<script>

var csrf = $("meta[name=csrf-token]").attr("content");

$(function () {
  var form = $("#new_comment");
  form.on("keydown", function (e) {
    console.log(e.keyCode);
    if (e.keyCode == 13) {
      $(".submitButton")[1].click();
    }
  });
  form.on("ajax:success", function (e, data) {
    console.log(e, data);
    var commentDiv = document.createElement("div");
    commentDiv.className = "commentContainer";
    commentDiv.innerHTML = '<p>' + data.body + '</p><p>' + data.user.email + '</p>' ;
    $("#comments").append(commentDiv);
  });

  form = $(".edit_comment");
  form.on("keydown", function (e) {
    formId = e.currentTarget.id.toString().substring(13, 999);
    subBtn = $(".submitButton")[0];
    if (e.keyCode == 13) {
      subBtn.click();
      $("#editBtn_" + formId).fadeIn();
      $("#editBtn_" + formId).click();
    }
  });
  form.on("ajax:success", function (e, data, status, xhr) {
    $("#commentBody_" + data.id).children().replaceWith("<p>" + data.body + "</p>")
  });

  $(".editBtn").on("click", function () {
    var Id = this.id.toString().substring(17, 999);
    var commentText = $(this).parent().parent().find(".commentText");
    if (commentText.hasClass("notEditing")) {
      commentText.addClass("editing").removeClass("notEditing");
      $(this).fadeOut();
    } else {
      commentText.addClass("notEditing").removeClass("editing");
    }
  });

  $(".delBtn").on("click", function () {
    var commentId = $(this).attr("x-id");
    comment = $(this);
    console.log(this);
  }).parent().on("ajax:success", function (e, data, status, xhr) {
    console.log(data);
    console.log(comment);
    comment.parent().parent().parent().remove();
  })

  $(".likeBtnImg").on("click", function () {
    var data = {post_id: this.id};
    $.ajax({
      type: 'POST',
      url: '/likes',
      authenticity_token: csrf,
      data: data
    }).done(function (response) {
      console.log(data);
      console.log(this)
        var likeBox = $(".likeBtnImg").parent().parent();
      var clickLike = $("#clickLike");
      var addLike = $("#addLike");
      console.log(likeBox);
      if (likeBox.hasClass("like")) {
        likeBox.addClass("unlike").removeClass("like");
        $(clickLike).css("display", "none");
        addLike.fadeIn().css("display","inline-block");;
      } else {
        likeBox.addClass("like").removeClass("unlike");
        $(clickLike).css("display", "inline-block");
        addLike.fadeOut();
      }
    });
  });

  $(".likeBtn").on("click", function () {
    console.log(this);
  }).parent().on("ajax:success", function (e, data, status, xhr) {
    console.log(data);
  });
})



</script>

